<launch>
    <!-- 启动第一个节点 -->
    <node pkg="robot_lacrosse" type="gazebo_test_global.py" name="robots" output="screen" cwd="node">
<!--    </node>-->
<!--    <node pkg="robot_lacrosse" type="gazebo_test_local.py" name="robots" output="screen" cwd="node">-->
    </node>

<!--    &lt;!&ndash; 启动第二个节点 &ndash;&gt;-->
    <node pkg="robot_lacrosse" type="gazebo_command.py" name="commands" output="screen" cwd="node">

    </node>
</launch>

